<header>
  <div class="container header-content">
    <div class="brand">
      <span class="logo-symbol">&lt;/&gt;</span>

      <div class="brand-text">
        <h2>Julio Cezar</h2>
        <p>Frontend Developer</p>
      </div>
    </div>

    <nav class="menu">
      <a href="#">Início</a>
      <a href="#">Projetos</a>
      <a href="#">Stack</a>
      <a href="#">Sobre</a>
    </nav>

    <a
      class="contact-button"
      href="https://wa.me/5547992527514?text=Olá%20Julio!%20Gostaria%20de%20conversar%20sobre%20um%20projeto."
      target="_blank"
    >
      <i class="bi bi-whatsapp"></i>
      Falar comigo
    </a>
  </div>
</header>
